<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">product list</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Product List Start -->
<div class="product-view">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="product-search">
                                    <form action="/products" method="GET">
                                        <input type="text" placeholder="Search.." name="keyword">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-short">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort by: <span id="sortName">{{name}}</span></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="{{originalUrl}}&sort=newest"  onclick='updateSortName("Newest")' class="dropdown-item">Newest</a>
                                            <a href="{{originalUrl}}&sort=popular" onclick='updateSortName("Popular")' class="dropdown-item">Popular</a>
                                            <a href="{{originalUrl}}&sort=priceLowToHigh"  onclick='updateSortName("Price (Low -> High)")' class="dropdown-item">Price (Low -> High)</a>
                                            <a href="{{originalUrl}}&sort=priceHighToLow" onclick='updateSortName("Price (High -> Low)")' class="dropdown-item">Price (High -> Low)</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{#each products}}
                    <div class="col-lg-4">
                        {{>product}}
                    </div>
                    {{/each}}

                </div>

                <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {{{createPagination pagination leftText="Previous" rightText="Next"}}}
                            {{!-- <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li> --}}
                        </ul>
                    </nav>
                </div>
            </div>



{{> right-column}}
        </div>
    </div>
</div>

<script>
       document.querySelectorAll('ul.pagination li').forEach(item => {
            item.classList.add('page-item');
        });
        document.querySelectorAll('ul.pagination li a').forEach(item => {
            item.classList.add('page-link');
        });
</script>
<!-- Product List End -->